
.row-card{
	
	display:flex;
	flex-wrap:wrap;
	
}

.row-card .card{
	
	width:20%;
	margin-bottom:0.5%;
	margin-right:0.5%;
	box-sizing: content-box;
}



.row-card .card img{
	
	height:10em;
}

h1 {
	
	align-content: center;
  
}
h2 {
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
      margin: 0 auto;
      width: 300px;
      height: 50px;
}


a {
  color: #babdb6;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color:white;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
